.Book1
{
  width: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: dodgerblue;
  margin-top: 16px;
  margin-left: 70px;
}
.Book2
{
  width: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: dodgerblue;
  margin-top: 16px;
  margin-left: 70px;
}
.Book3
{
  width: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: dodgerblue;
  margin-top: 16px;
  margin-left: 70px;
}
.Book4
{
  width: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: dodgerblue;
  margin-top: 16px;
  margin-left: 70px;
}
.Book5
{
  width: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: dodgerblue;
  margin-top: 16px;
  margin-left: 90px;
}
.Book6
{
  width: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: dodgerblue;
  margin-top: 16px;
  margin-left: 90px;
}